.conda/
.venv/
.mypy_cache/
data/
__pycache__/
.github/
deprecated/
.pytest_cache/

# Temp / cache
.npm/
.pnpm-store/
.yarn-cache/
.cache/


# Editor settings
.vscode/

# Env / secrets
.env
.env.*

dev_data/
results/
testing_env/
.streamlit/secrets.toml

