.conda/
.venv/
.mypy_cache/
__pycache__/
.github/
deprecated/
.pytest_cache/

# Temp / cache
.npm/
.pnpm-store/
.yarn-cache/
.cache/


# Editor settings
.vscode/

# Env / secrets
.env
.env.*

dev_data/
results/
testing_env/
.streamlit/secrets.toml

data_sets/*
!data_sets/.gitkeep
public_data/*
.backup
medfabric.db
medfabric.db-shm
medfabric.db-wal
